<!DOCTYPE html>

<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
				  xmlns = "http://www.w3.org/1999/xhtml"
				  xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	


	<head>
		<meta charset = "UTF-8">
		<title>Boss</title>
		<link rel = "stylesheet" type = "text/css" th:href = "@{/css/boss.css}" />
	</head>
	
	
	<body>
		<div>
			<a href = "/web/boss?home">Home</a>
			<a href = "/web/boss?mob">Mob Search</a>
			<a href = "/web/boss?equipment">Equipment Search</a>
			<a href = "/web/boss?mobdrop">Mob Drop Search</a>
			<a href = "/web/boss?bossdrop">Boss Drop Search</a>
		</div>
		
		<br />
		<br />
		
		<div>
			<form action = "/web/boss" method = "GET">
				Boss Name: <input type = "text" name = "bossName" value = ""/>
				Boss Level: <input type = "number" min = "0" max = "200"name = "bossLevel" value = 0 />
				Boss Min Respawn Time(Minutes): <input type = "number" min = "0" max = "999999" name = "bossMinRespawn" value = 0 />
				Boss Max Respawn Time(Minutes): <input type = "number" min = "0" max = "999999" name = "bossMaxRespawn" value = 0 />
				Boss Location One(Continent): <input type = "text" name = "bossLocation" value = ""/>
				<button type = "submit">Submit</button>
			</form>
		</div>
		
		<br />
		<br />
		
		<div>
			<table>
				<thead>
					<tr>
						<td>Boss Name</td>
						<td>Boss Level</td>
						<td>Boss HP</td>
						<td>Boss Min Respawn (Minutes)</td>
						<td>Boss Max Respawn (Minutes)</td>
						<td>Boss Location</td>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each = "bosses: ${bossPage.content}">
						<td th:text = "${bosses.bossName}"></td>
						<td th:text = "${bosses.bossLevel}"></td>
						<td th:text = "${bosses.bossHP}"></td>
						<td th:text = "${bosses.bossMinRespawn}"></td>
						<td th:text = "${bosses.bossMaxRespawn}"></td>
						<td th:text = "${bosses.bossLocation}"></td>
					</tr>
				</tbody>
			</table>
			
			
			<div>
				<span th:if = "${bossPage.totalPages > 0" th:each = "pageNumber : ${pageNumbers}">
					<a th:href = "@{/web/boss(size = ${bossPage.size}, page = ${pageNumber})}"
						th:text = ${pageNumber}></a>
						&nbsp;&nbsp;
				</span>
			</div>
			
		</div>
		
		
		
	</body>	




</html>