<!DOCTYPE html>

<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
				  xmlns = "http://www.w3.org/1999/xhtml"
				  xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
				  
	<head>
		<meta charset = "UTF-8">
		<title>Equipment</title>
		<link rel = "stylesheet" type = "text/css" th:href = "@{/css/equipment.css}" />
	</head>
	
	<body>
		<div class = "topnav">
			<a href = "/web/equipment?home">Home</a>
			<a href = "/web/equipment?mob">Mob Search</a>
			<a href = "/web/equipment?boss">Boss Search</a>
			<a href = "/web/equipment?mobdrop">Mob Drop Search</a>
			<a href = "/web/equipment?bossdrop">Boss Drop Search</a>
		</div>
		
		<br />
		<br />
		
		<form action = "/web/equipment" method = "GET">
			Equipment Name: <input type = "text" name = "equipmentName" />
				
			<span id = "selectMenu">
				Equipment Type: <select name = "equipmentType" multiple size = 6> 
									 <option value = "one-Handed Sword">One Handed Sword</option>
									 <option value = "two-Handed Sword">Two Handed Sword</option>
									 <option value = "one-Handed Axe">One Handed Axe</option>
									 <option value = "two-Handed Axe">Two Handed Axe</option>
									 <option value = "one-Handed Blunt Weapon">One Handed Blunt Weapon</option>
									 <option value = "two-Handed Blunt Weapon">Two Handed Blunt Weapon</option>
									 <option value = "bow">Bow</option>
									 <option value = "crossbow">Crossbow</option>
									 <option value = "dagger">Dagger</option>
									 <option value = "claw">Claw</option>
									 <option value = "spear">Spear</option>
									 <option value = "polearm">Polearm</option>
									 <option value = "wand">Wand</option>
									 <option value = "staff">Staff</option>
									 <option value = "knuckle">Knuckle</option>
									 <option value = "gun">Gun</option>
									 <option value = "hat">Hat</option>
									 <option value = "top">Top</option>
									 <option value = "overall">Overall</option>
									 <option value = "bottom">Bottom</option>
									 <option value = "shoes">Shoes</option>
									 <option value = "gloves">Gloves</option>
									 <option value = "cape">Cape</option>
									 <option value = "shield">Shield</option>
									 <option value = "earring">Earring</option>
									 <option value = "eyeAccessory">Eye Accessory</option>
									 <option value = "faceAccessory">Face Accessory</option>
									 <option value = "pendant">Pendant</option>
									 <option value = "belt">Belt</option>
								</select>
			</span>
			
			<span id = "minLevelInput">		
				Minimum Level: <input type = "number" name = "minimumLevel" value = "0" />
			</span>
			
			<span id = "classes">
				Warrior: <input type = "checkbox" name = "warrior" value = "1" />
				         <input type = "hidden" name = "warrior" value = "0" />
				
				Magician: <input type = "checkbox" name = "magician" value = "1" />
				          <input type = "hidden" name = "magician" value = "0" />
				
				Thief: <input type = "checkbox" name = "thief" value = "1" />
				       <input type = "hidden" name = "thief" value = "0" />
				
				Archer: <input type = "checkbox" name = "archer" value = "1" />
				        <input type = "hidden" name = "archer" value = "0" />
				
				Pirate: <input type = "checkbox" name = "pirate" value = "1" />
				        <input type = "hidden" name = "pirate" value = "0" />
				
				Common: <input type = "checkbox" name = "common" value = "1"/>
				        <input type = "hidden" name = "common" value = "0" />
						
				Beginner: <input type = "checkbox" name = "beginner" value = "1" />
						  <input type = "hidden" name = "beginner" value = "0" />
			</span>
			
			<button type = "submit">Submit</button>
		</form>
		
		
		<br />
		<br />

		<div th:if = "${equipPage.totalPages == 0}">
							<span id = "noContent">There are no results currently for that query.</span>
		</div>
		
		<div th:if = "${equipPage.totalPages > 0}">
			<table id = "equipmentInfo">
				<thead>
					<tr>
						<td>Equipment Name</td>
						<td>Equipment Level</td>
						<td>Equipment Type</td>
						<td>Required Strength</td>
						<td>Required Dex</td>
						<td>Required Int</td>
						<td>Required Luk</td>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each = "equip: ${equipPage.content}">
						<td th:text = "${equip.equipmentName}"></td>
						<td th:text = "${equip.minimumLevel}"></td>
						<td th:text = "${equip.equipmentType}"></td>
						<td th:text = "${equip.requiredStr}"></td>
						<td th:text = "${equip.requiredDex}"></td>
						<td th:text = "${equip.requiredInt}"></td>
						<td th:text = "${equip.requiredLuk}"></td>
					</tr>
				</tbody>
			</table>
			
			<div id = "pages">
				<span th:if = "${equipPage.totalPages > 1}">
					<a th:href = "@{/web/equipment(size = ${equipPage.size}, page = 1, equipmentName = ${equipName}, equipmentType = ${equipmentTypeQuery}, minimumLevel = ${level}, warrior = ${warrior}, 
									               magician = ${magician}, thief = ${thief}, archer = ${archer}, pirate = ${pirate}, common = ${common}, beginner = ${beginner})}">First</a>
						 &nbsp;&nbsp		
				</span>
				
				<span th:if = "${currentPage != 1}">
					<a th:href = "@{/web/equipment(size = ${equipPage.size}, page = ${currentPage} - 1, equipmentName = ${equipName}, equipmentType = ${equipmentTypeQuery}, minimumLevel = ${level}, warrior = ${warrior},
					                               magician = ${magician}, thief = ${thief}, archer = ${archer}, pirate = ${pirate}, common = ${common}, beginner = ${beginner})}">Previous</a>
						 &nbsp;&nbsp
				</span>
				
				<span th:if = "${equipPage.totalPages > 0}" th:each = "pageNumber : ${pageNumbers}">
					<a th:href = "@{/web/equipment(size = ${equipPage.size}, page = ${pageNumber}, equipmentName = ${equipName}, equipmentType = ${equipmentTypeQuery}, minimumLevel = ${level}, warrior = ${warrior}, 
												   magician = ${magician}, thief = ${thief}, archer = ${archer}, pirate = ${pirate}, common = ${common}, beginner = ${beginner})}"
					     th:text = ${pageNumber}></a>
						 &nbsp;&nbsp
				</span>
				
				<span th:if = "${currentPage != equipPage.totalPages}">
					<a th:href = "@{/web/equipment(size = ${equipPage.size}, page = ${currentPage} + 1, equipmentName = ${equipName}, equipmentType = ${equipmentTypeQuery}, minimumLevel = ${level}, warrior = ${warrior},
					                               magician = ${magician}, thief = ${thief}, archer = ${archer}, pirate = ${pirate}, common = ${common}, beginner = ${beginner})}">Next</a>
		                 &nbsp;&nbsp
				
				<span th:if = "${equipPage.totalPages > 1}">
					<a th:href = "@{/web/equipment(size = ${equipPage.size}, page = ${equipPage.totalPages}, equipmentName = ${equipName}, equipmentType = ${equipmentTypeQuery}, minimumLevel = ${level}, warrior = ${warrior}, 
												   magician = ${magician}, thief = ${thief}, archer = ${archer}, pirate = ${pirate}, common = ${common}, beginner = ${beginner})}">Last</a>
						&nbsp;&nbsp
				</span>
				
			</div>			 
			
		</div>
		
	</body>
	
</html>