<!DOCTYPE html>

<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
				  xmlns = "http://www.w3.org/1999/xhtml"
				  xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
				  
	<head>
		<meta charset = "UTF-8">
		<title>Equipment</title>
		<link rel = "stylesheet" type = "text/cass" th:href = "@{/css/equipmentStyle.css}" />
	</head>
	
	<body>
		<div>
			<a href = "/web/equipment?home">Home</a>
			<a href = "/web/equipment?mob">Mob Search</a>
			<a href = "/web/equipment?boss">Boss Search</a>
			<a href = "/web/equipment?mobdrop">Mob Drop Search</a>
			<a href = "/web/equipment?bossdrop">Boss Drop Search</a>
		</div>
		
		<br />
		<br />
		
		<form action = "/web/equipment" method = "POST">
			Equipment Name: <input type = "text" name = "equipmentName" />
			Equipment Type: <select>
							   <option value = ""></option>
							   <option value = "weapon">Weapon</option>
							   <option value = "accessory">Accessories</option>
							   <option value = "armor">Armors</option>
							</select>
				
			Weapon Type: <select>
						 	<option value = ""></option>
							<option value = "one handed sword">One Handed Sword</option>
							<option value = "two handed sword">Two Handed Sword</option>
							<option value = "one handed axe">One Handed Axe</option>
							<option value = "two handed axe">Two Handed Axe</option>
							<option value = "one handed blunt weapon">One Handed Blunt Weapon</option>
							<option value = "two handed blunt weapon">Two Handed Blunt Weapon</option>
							<option value = "bow">Bow</option>
							<option value = "crossbow">Crossbow</option>
							<option value = "claw">Claw</option>
							<option value = "dagger">Dagger</option>
							<option value = "spear">Spear</option>
							<option value = "polearm">Polearm</option>
							<option value = "wand">Wand</option>
							<option value = "staff">Staff</option>
							<option value = "knuckle">Knuckle</option>
							<option value = "gun">Gun</option>
						 </select>
			
			Armor Type: <select>
						   <option value = ""></option>
						   <option value = "hat">Hat</option>
						   <option value = "top">Top</option>
						   <option value = "overall">Overall</option>
						   <option value = "bottom">Bottom</option>
						   <option value = "shoes">Shoes</option>
						   <option value = "gloves">Gloves</option>
						   <option value = "cape">Cape</option>
						   <option value = "shield">Shield</option>
						</select>
			
			AccessoryType: <select>
							  <option value = ""></option>
							  <option value = "earring">Earring</option>
							  <option value = "eye accessory">Eye Accessory</option>
							  <option value = "face accessory">Face Accessory</option>
							  <option value = "pendant">Pendant</option>
							  <option value = "belt">Belt</option>
							  <option value = "medal">Medal</option>
							  <option value = "ring">Ring</option>
						   <select>
			
			Minimum Level: <input type = "number" name = "minimumLevel" />
			Warrior: <input type = "checkbox" name = "warrior" />
			Magician: <input type = "checkbox" name = "magician" />
			Thief: <input type = "checkbox" name = "thief" />
			Archer: <input type = "checkbox" name = "archer" />
			Pirate: <input type = "checkbox" name = "pirate" />
			Common: <input type = "checkbox" name = "common" />
			<button type = "submit">Submit</button>
		</form>
		
		
		<br />
		<br />
		<!--<div th:if = "${#lists.isEmpty(allEquipment)}">There is currently no equipment in the database.</div>-->
		
		<!--<div th:if = "${#lists.size(allEquipment) > 0}">-->
		<div>
			<table>
				<thead>
					<tr>
						<td>Equipment Name</td>
						<td>Equipment Type</td>
						<td>Weapon Type</td>
						<td>Armor Type</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each = "equipment: ${allEquipment}">
						<td th:text = "${equipment.equipmentName}"></td>
						<td th:text = "${equipment.equipmentType}"></td>
						<td th:text = "${equipment.weaponType}"></td>
						<td th:text = "${equipment.armorType}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</body>
	
</html>