<!DOCTYPE html>

<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
				  xmlns = "http://www.w3.org/1999/xhtml"
				  xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
				  

	<head>
		<meta charset = "UTF-8">
		<title>Home</title>
		<link rel = "stylesheet" type = "text/css" th:href = "@{/css/home.css}" />
	</head>
	
	
	<body>
		<div class = "topnav">
			<a href = "/home?mob">Mob Search</a>
			<a href = "/home?boss">Boss Search</a> 
			<a href = "/home?equipment">Equipment Search</a>
			<a href = "/home?mobdrop">Mob Drop Search</a>
			<a href = "/home?bossdrop">Boss Drop Search</a>
		</div>
		
		<br />
		<br />
		
		<div class = "updatesTable">
			<table id = "updates">
				<thead>
					<tr>
						<th>Date</th>
						<th>Update</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each = "databaseUpdates: ${databaseUpdates}">
						<th th:text = "${databaseUpdates.localDateTime}"></th>
						<td th:text = "${databaseUpdates.updateText}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
	</body>


</html>