<!DOCTYPE html>

<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
                  xmlns = "http://www.w3.org/1999/xhtml"
				  xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
				  

	<head>
		<meta charset = "UTF-8">
		<title>Mobs</title>
		<link rel = "stylesheet" type = "text/css" th:href = "@{/css/mobSheet.css}" />
	</head>
	
	<body>
		<div class = "topnav">
			<a href = "/web/mob?home">Home</a>
			<a href = "/web/mob?boss">Boss Search</a>
			<a href = "/web/mob?equipment">Equipment Search</a>
			<a href = "/web/mob?drop">Drops Search</a>
		</div>
		
		<br />
		<br />
		
		<div>
			<table>
				<thead>
					<tr>
						<td>Mob Name</td>
						<td>Mob Level</td>
						<td>Mob EXP</td>
						<td>Mob Location One</td>
						<td>Mob Location Two</td>
				</thead>
				
				<tbody>
					<tr th:each = "allMobs: ${allMobs}">
						<td th:text = "${allMobs.mobName}"></td>
						<td th:text = "${allMobs.mobLevel}"></td>
						<td th:text = "${allMobs.mobEXP}"></td>
						<td th:text = "${allMobs.mobLocation}"></td>
						<td th:text = "${allMobs.mobLocationTwo}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
	
</html>