<!DOCTYPE html>

<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
                  xmlns = "http://www.w3.org/1999/xhtml"
				  xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
				  

	<head>
		<meta charset = "UTF-8">
		<title>Mobs</title>
		<link rel = "stylesheet" type = "text/css" th:href = "@{/css/mobSheet.css}" />
	</head>
	
	<body>
		<div class = "topnav">
			<a href = "/mobs?home">Home</a>
			<a href = "/mobs?boss">Boss Search</a>
			<a href = "/mobs?equipment">Equipment Search</a>
			<a href = "/mobs?drop">Drops Search</a>
		</div>
		
		<br />
		<br />
		
		<div>
			<table>
				<thead>
					<tr>
						<td></td>
				</thead>
				
				<tbody>
					<tr>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
	
</html>